* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
  
  #width-height-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .nav {
    display:none;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto 40px auto;
    background: hsla(216, 83%, 95%, 1);
  
    background: linear-gradient(90deg, hsla(204, 77%, 88%, 1) 0%, hsla(216, 83%, 95%, 1) 84%);
    
    background: -moz-linear-gradient(90deg, hsla(204, 77%, 88%, 1) 0%, hsla(216, 83%, 95%, 1) 84%);
    
    background: -webkit-linear-gradient(90deg, hsla(204, 77%, 88%, 1) 0%, hsla(216, 83%, 95%, 1) 84%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9F1FD", endColorstr="#C8E5F8", GradientType=1 );
    width:716px;
    height:71px;
    border-radius:50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .navbar ul {
    display:flex;
    justify-content:center;
    align-items:center;
    list-style: none;
    display:flex;
    padding:15px;
    width:693px;
    height:71px;
  }
  
  .navbar li {
    padding: 0 1rem;
  }
  
  .navbar ul li:not(:first-child) {
  
    border-left: 1px solid #9daec7;
  }
  
  .navbar a {
    color:#9daec7;
    text-decoration:none;
    font-size:2vh;
  }
  
  .navbar ul li::after {
    content: "";
    width:0%;
    height:2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after{
    width:100%;
  }
  header {
    display:none;
  }
  
  
  @media only screen and (max-width: 425px) {
    .navbar {
      display:none;
    }
    header {
      display:flex;
      position:relative;
      top:0;
      left:0;
      right:0;
      align-items: center;
      margin:0 auto;
      height:40px;
      background: hsla(216, 83%, 95%, 1);
    
      background: linear-gradient(90deg, hsla(204, 77%, 88%, 1) 0%, hsla(216, 83%, 95%, 1) 84%);
      
      background: -moz-linear-gradient(90deg, hsla(204, 77%, 88%, 1) 0%, hsla(216, 83%, 95%, 1) 84%);
      
      background: -webkit-linear-gradient(90deg, hsla(204, 77%, 88%, 1) 0%, hsla(216, 83%, 95%, 1) 84%);
      
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9F1FD", endColorstr="#C8E5F8", GradientType=1 );
      width:100%;
      border-radius:0px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      padding: 10px;
    }
  
  .menu-title {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#000;
    font-size:24px;
  }
  
    .menu-toggle {
      cursor: pointer;
      z-index:99;
      position:absolute;
      right:10px;
    }
    
    .hamburger {
      width: 25px;
      height: 20px;
      position: relative;
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;
    }
    
    .line {
      width: 100%;
      height: 3px;
      background-color:#9daec7;;
      position: absolute;
      left: 0;
      transition: 0.25s ease-in-out;
    }
    
    .line:nth-child(1) {
      top: 0;
    }
    
    .line:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    
    .line:nth-child(3) {
      bottom: 0;
    }
    
    .menu-open .line:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    
    .menu-open .line:nth-child(2) {
      opacity: 0;
    }
    
    .menu-open .line:nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
    
    .menu-open .dropdown-menu {
      opacity: 1;
      display: block;
      transform: translateY(0);
    }
    
    .dropdown-menu {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 41px;
      left:0;
      margin:0 auto;
      width: 100%;
      background-color: #D7E6FA;
      padding: 20px;
      box-sizing: border-box;
      transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
      transform: translateY(0%);
      box-shadow:0px 10px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
    .menu-open {
      opacity: 1;
      max-height: 500px; /* Adjust as needed */
      transform: translateY(0);
      transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    
    .dropdown-menu ul {
      list-style-type: none;
      padding: 0;
    }
    
    .dropdown-menu ul li {
      margin-bottom: 10px;
    }
    
    .dropdown-menu ul li a {
      color:#000;
      text-decoration: none;
      font-size: 18px;
    }
    
    .menu-open .dropdown-menu {
      display: block;
      transform: translateY(0);
    }
    
    .content {
      padding: 20px;
      transition: transform 0.5s ease-in-out;
      transform: translateY(0);
    }
    
    .menu-open .content {
      transform: translateY(200px);
    }
  
    .mobile-social-icons {
      font-size:28px;
    }
    .mobile-social-icons a {
        color:#000;
  }
  }
  /*Introduction section*/
  
  .section1 {
    position:relative;
    background-color: #D7E6FA;
    transition: padding-bottom 0.5s ease-in-out;
    padding-bottom:50px;
  }
  
  .social-media-icons {
      position:absolute;
      top:15px;
      right:40px;
  }
  
  .social-media-icons a {
  color:black;
  text-decoration:none;
    font-size:36px;
    margin-right:20px;
  }
  
  .social-media-icons i:last-child {
    margin-right:0;
  }
  
  .container {
  margin: 0px auto 80px auto;
  width: 80%;
  height: 600px;
  }
  
  .content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 550px;
  margin: 0 auto;
  width: 100%;
  transform: translateY(0);
  max-height:none;
  transition: transform 0.5s ease-in-out;
  }
  
  .text-column {
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
  width: 50%;
  }
  
  h1 {
  font-size: 50px;
  margin-bottom: 20px;
  }
  
  .slogan h1 {
  width: 100%;
  }
  
  .slogan p {
  font-size: 24px;
  padding: 0 30px;
  }
  
  .image-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  overflow: hidden;
  }
  
  .homepage_image1 {
  width: 70%;
  padding-top: 140px;
  }
  
  @media only screen and (max-width: 1920px) {
    .homepage_image1 {
      width: 70%;
      padding-top: 110px;
      }
  }
  
  
  
  @media only screen and (max-width: 1440px) {

    .navbar {
      width:550px;
    }
  .content-row {
      column-gap: 30px;
  }
  
  .slogan p {
      font-size: 22px;
      padding: 0 10px;
  }
  
  .homepage_image1 {
      width: 90%;
  }
  
  h1 {
      font-size: 40px;
  }
  }
  
  @media only screen and (max-width: 1024px) {

  
  .container {
      width: 100%;
  }
  
  .content-row {
      column-gap: 10px;
      width: 95%;
  }
  
  .slogan p {
      font-size: 22px;
      padding: 0;
  }
  
  .text-column {
      width: 50%;
  }
  
  h1 {
      font-size: 34px;
  }
  
  .image-column {
      width: 50%;
  }
  
  .homepage_image1 {
      width: 100%;
      padding-top: 100px;
  }
  }
  
  @media only screen and (max-width: 768px) {
  .content-row {
      height: 100%;
  }
  
  .image-column {
      width: 45%;
  }
  
  .homepage_image1 {
      width: 350px;
      height: auto;
      max-width: 500px;
      display: block;
      margin: 0 auto;
      padding-top: 60px;
  }
  
  .container {
      margin: 0px auto;
      height: 100%;
      width: 100%;
  }
  
  .row {
      column-gap: 40px;
      width: 100%;
      height: 400px;
  }
  
  .text-column {
      font-size: 16px;
      width: 55%;
  }
  
  h1 {
      font-size: 26px;
      margin-bottom: 10px;
  }
  
  .slogan p {
      font-size: 20px;
      padding: 0;
      margin-bottom: 10px;
      text-align: center;
  }
  }
  
  
  @media only screen and (max-width: 425px) {
  .content-row {
  flex-direction: column-reverse;
  height: 600px;
  position:relative;
  }
  
  .text-column {
  width:100%;
  }
  
  .image-column {
  display:flex;
  justify-content:center;
  align-items: center;
  width:100%;
  height:250px;
  }
  
  .homepage_image1 {
  padding-top:50px;
  padding-right:30px;
  margin:0;
  height:300px;
  }
  
  .slogan p {
  height:auto;
  }
  
  .container {
    margin:0 auto;
    padding-top:0;
    width:100%;
  }
  }
  
  @media only screen and (max-width: 375px) {
  .section1 {
    padding-bottom:0px;
  }
  
  
  .container {
    width:100%;
  }
  
  .content-row {
    height: 450px;
    margin-top: 100px;
  }
  
  .image-column {
    height:200px;
    margin-top:-80px;
  }
  
  .text-column {
    margin-top:-20px;
  }
  .homepage_image1 {
    padding-top:0px;
    height:auto;
  }
  
  h1 {
    font-size: 25px;
  }
  
  .slogan p {
    font-size:18px;
  }
  }
  
  @media only screen and (max-width: 360px){
    .slogan h1 {
      font-size:20px;
    }
  }
  
  @media only screen and (max-width: 320px){
  .homepage_image1 {
    width:100%;
  }
  
  .image-column {
    margin-top:-140px;
  }
  
  .text-column {
    margin-top :-30px;
  }
  h1 {
    font-size:21px;
  }
  
  .slogan p {
    font-size:16px;
  }
  }
  

  .product-carousel-wrapper {
    background-color:#f6d9c7;
    display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }

  .course-heading {
    font-size:40px;
    margin-top:10px;
  }
  
  .course-card {
    position: relative;
    margin: 30px 0;
    box-shadow: 0px 0px 20px -6px #000;
    border-radius: 50px;
    
  }
  
  .product-item {
    width:810px;
    height:100%;
    padding:20px 30px;
    border: none;
    scroll-snap-align: start;
    background-color: #f5d7c5;
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 50px;
  }

  .product-content {
    text-align:center;
    font-size:18px;
  }

  .product-content h2 {
font-size:24px;
  }

  .price {
    font-size: 20px;
    margin: 10px 0;
  }
  
  
  
 .product-item a {
    text-decoration:none;
    color:#000;
    cursor:pointer;
 }
  
  .get-started-button {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 40px;
    background-color: #f5d7c5;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
  }

  .checklist li {
    display: flex;
  justify-content:center;
  align-items: center;
  margin:10px auto 10px auto;
  }

  .checklist li::before {
    content: '\2713'; /* Checkmark Unicode */
    margin-right: 10px;
  }

  @media only screen and (max-width: 768px) {
    .course-card {
      width:700px;
    }

    .product-item {
      width:700px;
      padding:30px 10px;
    }

    .product-content {
      font-size:16px;
    }

    .product-content h2 {
      font-size:20px;
    }

    .price {
      font-size:18px;
    }

    .get-started-button {
      padding:10px 20px;
      font-size:16px;
    }
  }

  @media only screen and (max-width:425px) {
    .course-card {
      width:400px;
    }

    .product-item {
      width:400px;
    }
  }

  @media only screen and (max-width:375px) {
    .course-card {
      width:350px;
    }

    .product-item {
      width:350px;
    }
  }

  @media only screen and (max-width:320px) {
    .course-card {
      width:300px;
    }

    .product-item {
      width:300px;
    }
  }
  


  .email-subscription-section {
  background-color: #383938;
  padding: 40px; /* Add padding for spacing */
  height: 275px;
  position: relative; /* Set position to relative */
  }
  
  #subscribe-form1 input[type="email"],
  #subscribe-form1 input[type="text"] {
      display: block; /* Display each input field in a block */
      width: 19%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 10px auto;
  }
  
  .form-container {
  margin:0 auto;
  text-align: center;
  display:none;
  }
  
  .form-heading {
  font-size: 32px;
  margin-bottom: 30px;
  color:#fff;
  }  
  
  .embedded-form-inputs{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .form-subtext {
    color:#fff;
    margin-bottom:20px;
    font-size:22px;
  }
  
  input[type="submit"] {
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  input::placeholder {
    font-size:24px;
  }
  
  @media only screen and (max-width:1920px) {
    #subscribe-form1 input[type="email"],
  #subscribe-form1 input[type="text"] {
    width:20%;
  }
  
  input[type="submit"] {
    padding: 15px 30px;
    font-size: 19px;
  }
  
  input::placeholder {
    font-size:18px;
  }
  
  .form-subtext {
    font-size:17px;
  }
  }

  @media only screen and (max-width:1024px) {
    #subscribe-form1 input[type="email"],
    #subscribe-form1 input[type="text"] {
      width:30%;
    }
  }
  
   /* Add this media query for smaller screens */
  @media only screen and (max-width: 768px) {
  
  .email-subscription-section {
    height:345px;
  }
  
    .form-group input {
      width: 40%; /* Make input fields full width */
    }
  
    .form-logo img {
      width: 200px; /* Adjust form logo size */
    }
  
    input[type="submit"] {
      padding: 15px 20px;
    }

    #subscribe-form1 input[type="email"], #subscribe-form1 input[type="text"] {
      width: 50%;
  }
  }
  
  @media only screen and (max-width: 425px) {
    .email-subscription-section {
      left: 0; /* Align to the left */
      width: 100%; /* Ensure full width */
      z-index: 1; /* Set z-index to appear above text column */
    }
  
    #subscribe-form1 input[type="email"],
    #subscribe-form1 input[type="text"]
     {
    display: block;
      width: 70%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 10px auto;
  }
  }
  
  @media only screen and (max-width: 375px) {
    input[type="submit"] {
      padding:15px;
      font-size:16px;
    }
  
    .email-subscription-section {
      top:67%;
      height:285px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .email-subscription-section {
      top:65%;
      height:305px;
    }
  
    .form-group input {
      width:70%;
      padding:10px 15px;
    }
  
  
   .form-group #email::placeholder,
   .form-group #name::placeholder {
  font-size:15px;
  width:100%;
    }
    
    input[type="submit"] {
      padding:14px 5px;
      font-size:14px;
    }
  }
  
  /* Popup Overlay */
  #popup-overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  #popup-form h2 {
    font-size: 28px;
    width: 100%;
    text-align: center;
  }
  
  .pop-up-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 90%;
    padding:0;
  }
  
  .form-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%;
    padding-left:20px;
  }
  
  .form-right {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-logo img {
    width:400px;
    height:auto;
    margin-top:75px;
  }
  
  #popup-form input[type="email"],
  #popup-form input[type="text"],
  #popup-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:10px auto;
  }
  
  #popup-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:16px;
  }
  
  #popup-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  #close-popup {
    position: absolute;
    top: 12px; /* Adjust top position */
    right: 10px; /* Align to the right */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size:16px;
    transition: ease-in-out 0.1s;
  }
  
  #close-popup:hover {
    background-color: #999;
  }
  
  
  
  @media only screen and (max-width: px) {
    .form-logo img {
      width: 350px;
    }
  }
  
  @media only screen and (max-width: 1024px) {
  
    #popup-form h2 {
      font-size:22px;
    }
  
  
    #close-popup {
      padding:0px;
      top:10px;
      font-size:14px;
    }
  
    .form-logo img {
      width:260px;
      margin-top:55px;
    }
  
    #popup-form input[type="email"],
    #popup-form input[type="text"] {
      padding:7px 10px;
    }
  
    #popup-form input[type="email"]::placeholder,
    #popup-form input[type="text"]::placeholder {
      font-size:15px;
    }
    #popup-form input[type="submit"] {
      font-size:18px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    #popup-form h2 {
      font-size:16px;
    }
    #close-popup {
      font-size:12px;
      top:9px;
    }
  
    .form-logo img  {
      width:200px;
      margin-top:45px;
    }
  
    #popup-form input[type="email"],
    #popup-form input[type="text"] {
      padding:5px 8px;
    }
    #popup-form input[type="email"]::placeholder,
    #popup-form input[type="text"]::placeholder {
      font-size:13px;
    }
    #popup-form input[type="submit"] {
      font-size:16px;
    }
  }
  
  @media only screen and (max-width: 425px) {
    #popup-form {
      padding:5px 0px;
    }
  
    .pop-up-form-container {
      width:100%;
    }
  
    #popup-form h2 {
      font-size:14px;
    }
  
    #close-popup {
      font-size:10px;
      top:8px;
      right:30px;
    }
  
    .form-left {
      width:100%;
      padding-left:15px;
    }
  
  
    .form-logo img {
      width:160px;
      margin-top:30px;
    }
    #popup-form input[type="email"],
    #popup-form input[type="text"],
    #popup-form input[type="submit"] {
      padding:5px 12px;
      font-size:12px;
      margin:5px auto;
    }
    #popup-form input[type="email"]::placeholder,
    #popup-form input[type="text"]::placeholder {
      font-size:10px;
    }
    #popup-form input[type="submit"] {
      font-size:10px;
      padding:7px 10px;
    }
  }
  
  @media only screen and (max-width: 375px) {
  
    #popup-form h2 {
      font-size:13px;
    }
  
    
    #close-popup {
      font-size:9px;
      top:8px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .form-logo img {
      width:130px;
      margin-top:30px;
    }
    #popup-form h2 {
      font-size:12px;
    }
  
    #close-popup {
      font-size:8px;
      top:8px;
    }
  
  }

  
  
  
  /* Course Page */
  
  
  .course-page {
  display: flex;
  margin:130px 120px 60px 120px;
  align-items:center;
  justify-content:center;
  }
  
  .image-section {
  display:flex;
  justify-content: center;
  width:45%;
  }
  
  .image-section img {
  width: 900px;
  border-radius:10px;
  }
  
  .course-details {
    display: flex;
    width:45%;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 320px);
    text-align: Center;
    margin-top: 0px;
  }
  
  .course-details-header {
  font-size: 40px;
  padding:0 100px;
  margin: 40px 0 15px 0;
  }
  
  .course-details p.price {
  font-size: 28px;
  margin-bottom: -20px;
  }
  
  .description-section {
  margin: 50px auto 30px auto;
  max-width: 750px;
  font-size:24px;
  }
  
  .course-details button {
  display:block;
  width:170px;
  height:60px;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  background-color:#ffb74d;
  border-radius: 10px;
  }

  
  .course-details a {
    text-decoration: none;
  }
  
  .recommended-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px auto;
  overflow:auto;
  }
  
  .rec-books-heading {
  margin-bottom:30px;
  font-size:36px;
  }
  
  .rec-books-container {
  display: flex;
  overflow-x: hidden; /* Hide horizontal overflow for carousel */
  justify-content: center;
  align-items: center;
  width:100%;
  height:600px;
  }
  
  .rec-book {
  flex: 0 0 auto;
  margin-right: 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius:10px;
  background-color: #FCFCFC;
  }
  
  .rec-book:hover {
    transform: scale(1.1);
   box-shadow: 0 1px 15px 10px rgba(0, 0, 0, 0.5);
  }
  
  .rec-book a {
    text-decoration:none;
    color: #000;
  }
  
  .rec-book:last-child {
  margin-right: 0;
  }
  
  .rec-book img {
  width: 280px;
  height: 430px;
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border-radius:10px;
  }
  
  .rec-book-title {
  margin: 5px auto 0 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit the title to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  width: 199px; /* Ensures the title doesn't overflow the container */
  text-align:center;
  font-size:20px;
  }
  
  .rec-book-price {
  margin-top: 10px;
  font-weight: bold;
  text-align:center;
  font-size:20px;
  padding-bottom:5px;
  }
  
  .rec-prev-slide,
  .rec-next-slide {
  display: none; /* Initially hide scroll buttons */
  }
  
  @media only screen and (max-width: 1920px) {
    .course-page {
      margin: 130px 150px 60px 150px;
    }
  
    .image-section {
      margin-right: 20px;
      margin-top:0px;
      }
  
      .image-section img {
        width: 700px;
        }
  
      .course-details {
        flex:1;
      }
  
      .course-details-header {
        font-size:36px;
        margin: 40px 0 15px 0;
      }
  
      .course-details p.price {
        font-size: 18px;
      }
  
      .description-section {
        font-size:16px;
        max-width:600px;
      }
  
      .rec-books-container {
        height:460px;
      }
  
      .rec-books-heading {
        font-size:24px;
      }
  
      .rec-book {
        margin-right:60px;
      }
  
      .rec-book img {
        width: 200px;
        height: 300px;
  
      }
  
      .rec-book-title {
        margin:5px 0 0 0;
        font-size:16px;
      }
  
      .rec-book-price {
        font-size:16px;
      }
  }
  
  
  @media only screen and (max-width:1440px) {
  .course-page {
    margin:0 0 30px 15px;
  }

  .image-section img {
    width:600px;
  }

  .course-details-header {
    margin:0 0 10px 0;
  }
  
  .course-details p.price {
    margin-bottom:-25px;
    font-size:22px;
  }

  .description {
    font-size:20px;
    margin-bottom:20px;
  }
  
  .rec-book {
    margin-right:35px;
  }

  .rec-books-heading {
    font-size:32px;
  }
  }
  
  @media only screen and (max-width:1024px) {
    .course-page {
      margin:20px 0 60px 0;
    }
  .image-section img {
    width:400px;
  }
  
  .course-details {
    padding:0 20px;

  }
  
  .course-details-header {
  font-size:26px;
  padding:0;
  margin:20px 0;
  }
  
  .course-details p.price {
  margin-bottom:-35px;
  margin-top:-5px;
  font-size:20px;
  }
  
  .description {
  margin-bottom:20px;
  font-size:18px;
  }
  
  .course-details button {
    padding:10px;
    width:110px;
    height:50px;
    font-size:18px;
  }
  
  
  
  .recommended-books {
  margin:0;
  }
  
  .rec-books-container {
  justify-content: start;
  width: 100%; /* Set the width of the container */
  max-width: 800px; /* Set a maximum width if needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  white-space: nowrap; /* Prevent content from wrapping */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  }
  
  .rec-books-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
  }

  .rec-books-heading {
    margin:40px 0 20px 0;
  }
  
  }
  
  @media only screen and (max-width:768px) {
   /* Course Page */
  
   .back-home-link {
    margin-bottom:50px;
    margin-left:35px;
   }
   .course-page {
    flex-direction: column;
    align-items: center;
  }
  
  .image-section {
    margin-right:0px;
    width:100%;
  }
  
  .image-section img {
    width: 700px; /* Make the image responsive to the container */
    height: auto;
  }
  
  .course-details {
   max-width: 100%; /* Adjust width to fit smaller screens */
   width:100%;
   padding:0 50px;
    text-align: center;
    margin-top: 20px;
  }
  
  .course-details-header {
    font-size: 24px; /* Decrease font size for smaller screens */
    padding: 0 20px; /* Adjust padding for smaller screens */
    margin: 20px 0 10px 0;
  }
  
  .course-details p.price {
    margin-bottom:-10px;
    margin-top:10px;
    font-size:24px;
  }
  
  .description-section {
    margin: 35px auto 0 auto;
    max-width: 100%; /* Adjust width to fit smaller screens */
  }

  .description {
    font-size:20px;
  }

 .rec-books-heading {
  margin:0;
 }
  .rec-book {
    margin-right: 50px; /* Adjust margin for smaller screens */
    width:170px;
  }
  
  .rec-book-title {
    text-align:center;
    width:170px;
  }
  
  .rec-book img {
    width: 170px;
    height: 270px;
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }
  }
  
  @media only screen and (max-width:425px) {
  
  .course-page {
    margin:50px 0 0 0;
  }
  .image-section img {
    width:375px;
  }
  .course-details {
    width:400px;
    padding:0 10px;
  }

.course-details-header {
  font-size:20px;
}

.course-details p.price {
  font-size:20px;
}

.description {
  font-size:18px;
}

.rec-books-heading {
  font-size:26px;
  margin-top:20px;
}
  
  .rec-book img {
    width:150px;
    height:250px;
  }
  
  .rec-book {
    margin-right: 30px; /* Adjust margin for smaller screens */
    width:150px;
  }
  
  .rec-book-title {
    width:150px;
  }
  
  }
  
  @media only screen and (max-width:375px) {
  .image-section img {
  width:325px;
  }
  
  .course-details {
  padding:0 20px;
  }
  
  .rec-books-heading {
  margin-top:15px;
  }
  
  .rec-book {
  width:130px;
  margin-right:25px;
  }
  
  .rec-book img {
  width:130px;
  height:230px;
  }
  
  .rec-book-title {
  width:130px;
  }
  }
  
  @media only screen and (max-width:320px) {
  .image-section img {
  width:280px;
  }
  
  /* Show scroll buttons for larger screens */
  .rec-prev-slide,
  .rec-next-slide {
    display: block;
  }
  
  .rec-book {
    margin-right: 50px; /* Adjust margin for smaller screens */
    width:170px;
  }
  
  .rec-book-title {
    text-align:center;
    width:170px;
  }
  
  .rec-book img {
    width: 170px;
    height: 270px;
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }
  }
  
  /*Courses Page*/
  
  .course-container {
  margin:0 auto;
    width: 80%;
    height: 100vh;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
   /* Style for the grid container */
   .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 430px); /* 4 columns with equal width */
    grid-gap: 50px; /* Gap between grid items */
  justify-content: center;
  }
  
  /* Style for each grid item */
  .grid-item {
    background-color: #FCFCFC; /* Very light off-white background */
    border: 1px solid #CCCCCC; /* Light gray border */
    text-align: center; /* Center-align text */
    position:relative;
    overflow:hidden;
    box-sizing: border-box; /* Include padding and border in the width and height */
    height:285px;
  }
  
  
  .course-image {
  width:100%;
  height:100%;
  transition: transform 0.3s ease;
  }
  
  /* Style for course info */
  .course-info {
    position: absolute; /* Position absolutely */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to left */
    width: 100%; /* Set width */
    background-color: rgba(255, 255, 255, 0.8); /* Light white background with transparency */
    padding: 10px; /* Add padding */
    text-align: center; /* Center-align text */
    transition: height 1s ease;
    transform: translateY(0%);
    height:80px;
  }
  
  .grid-item:hover .course-info {
    height:100%;
  }
  
  .course-info h3 {
    font-size:18px;
    margin: 0 0 8px 0; /* Remove default margin for h3 */
  }
  
  .course-info p {
    margin: 0; /* Remove default margin for p */
  }
  
  .course-info .course-description {
    margin-top:10px;
  }
  
  .course-links {
    text-decoration: none;
    color: #000;
  }
  
  
  @media only screen and (max-width:425px) {
    .course-container {
      width:100%;
      height:100%;
    }
    
    .grid-container {
      display: flex;
      flex-direction: column;
      position:relative;
      width:425px;
    }
  
    .course-image {
      width:425px;
    }
  
    .course-info {
      width:425px;
    }
  }
  
    @media only screen and (max-width: 360px) {
      .course-container {
        width:360px;
      }
  
      .grid-container {
        width:360px;
      }
  
      .course-image {
        width:360px;
      }
  
      .course-info {
        width:360px;
      }
    }
  
  .about-container {
    display:flex;
    flex-direction:row;
    align-items: center;
    height:80vh;
    margin:0 6%;
  }
  
  .about-text-col {
    width:60%;
    text-align:Center;
padding:0 5%;
  }

  .about-picture-col {
    display:flex;
width:40%;
align-items: center;
justify-content:center;
  }

  .about-picture-col img {
    border-radius: 10px;
    width:65%;
  }
  
  .about-text-col p {
  font-size:26px;
  margin-bottom:31px;
  padding:0 10px;
  }

  @media only screen and (max-width:1440px) {
   .about-text-col h1 {
    font-size:32px;
   }

   .about-text-col p {
    font-size:24px;
   }

   .about-picture-col img {
    width:80%;
   }
  }

  @media only screen and (max-width:1024px) {

.about-text-col h1 {
  font-size:28px;
}

    .about-text-col p {
      font-size:20px;
    }

    .about-picture-col img {
      width:90%;
    }
  }

  @media only screen and (max-width:768px) {
    .about-container {
      flex-direction: column;
      margin:80px 0 0 0;
    }

    .about-text-col {
      width:100%;
    }

    .about-picture-col {
      width:100%;
    }

    .about-picture-col img {
      width:50%;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .about-text-col {
      width:100%;
      left:0;
      top:7%;
    }
    .about-text-col p {
      font-size:18px;
      padding:0 15px;
    }
    }
  
  .contact-heading {
    text-align: center;
  }
  
  .contact-subheading {
    text-align:Center;
    margin-bottom:60px;
  }
  
  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
  }
  
  .contact-form {
    display:flex;
      justify-content:center;
      flex-direction:column;
      margin:0 auto;
    width:420px;
    height:100%;
    border:2px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:#fff;
    border-radius:10px;
    padding:0px 40px 30px 40px;
  }
  
  .form-group {
    position:relative;
    width:100%;
    margin:30px 0;
   }
  
  .contact-form input {
    width:100%;
    height:50px;
    border:none;
    outline:none;
    border:2px solid rgba(0, 0, 0, .2);
    border-radius:40px;
    font-size:16px;
    color:#000;
    padding-left:20px;
  }
  
  .contact-form input::placeholder {
    font-size:16px;
    cursor:pointer;
  }
  
  textarea {
    height:300px;
    width:100%;
    border-radius:10px;
    padding:10px 0 0 10px;
    outline:none;
  }
  
  .submit {
    cursor:pointer;
    border-radius:40px;
    border: 2px solid rgba(0, 0, 0, .2);
    height:45px;
    font-size:16px;
    font-weight:600;
  }
  
  
  
  .contact-footer {
    background-color:#000;
    height:200px;
    width:100%;
  }
  
  .contact-footer-content {
    display:flex;
    justify-content:Center;
    align-items:center;
    flex-direction:column;
  margin:0 auto;
    height:100%;
  
  }
  
  .contact-footer-social-icons {
    height:60px;
    width:100%;
    text-align:center;
    margin-bottom:15px;
  }
  
  .contact-footer i {
    border-radius:40px;
    border:2px solid #fff;
    padding:6px;
    font-size:34px;
    margin-right:20px;
  }
  
  .contact-footer i:last-child {
    margin-right:0;
  }
  
  .contact-footer p {
    font-size:24px;
    color:#fff;
    text-align:center;
  }
  
  @media only screen and (max-width: 1440px) {
    .contact-subheading {
      margin-bottom:40px;
    }
  .contact-footer {
    height:150px;
  }
  }
  
  
  @media only screen and (max-width: 1024px) {

  
  .social-media-icons {
    right:30px;
    top:25px;
  }
  
  .social-media-icons a {
  font-size:28px;
  margin-right:10px;
  }
  }
  
  @media only screen and (max-width:768px) {
    .navbar {
      margin:0 0 40px 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius:0px ;
    width:550px;
    }
  
    .contact-subheading {
      margin-bottom:50px;
    }
    }
  
    @media only screen and (max-width:425px) {
      .contact-page {
        width:90%;
        margin:0 auto;
      }
      .contact-heading {
        margin-top: 10px;
      }
      .social-media-icons {
        display:none;
      }
      .contact-form {
        width:350px;
      }
  
      .contact-footer-content p {
        font-size:20px;
      }
    }
  
    @media only screen and (max-width:375px) {
  .contact-form {
    width:320px;
  }
    }
  
  